@import'layout/flyers';
@import 'layout/logo';
@import 'layout/header';
@import 'layout/card';
@import 'layout/zoom';
@import 'layout/mountain';
@import 'layout/hero';

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


h1{
  text-align: center;
  font-family: sans-serif;
}
