.flyers{
  width: 250px;
  height: 350px;
  background-color: lightgrey;
  position: relative;
  left:55%;
  margin-top:200px;
  transform: translate(-50%,-50%);
  perspecive:1000px;
  border:1px solid grey;

}
.cover{
  width: 100%;
  height: 100%;
  position:absolute;
  background-color: #000;
  transform: rotateY(20deg);
  transform-style: preserve-3d; 
  transform-origin: left;
  transition: all .5s ease-in;
  border: 1px solid grey;
}
.fall{
  transform: rotateY(-180deg);
}
figure{
  margin:0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}
.front{
  background-color:white;;
}
.back{
  background:lightcyan;
  transform: rotateY(180deg);
}
// @-webkit-keyframes fadeInUp {
//   from {
//     opacity: 0;
//     -webkit-transform: translateX(-50%);
//     transform: translateX(-50%)
//   }

//   to {
//     opacity: 1;
//     -webkit-transform: translateX(0);
   
//     transform: translateX(0)
//   }
// }

.img-container{
  text-align: center;
  margin-top: 125px;


}